
.heading {
    margin-left: 40px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    color: white;
}

.shopping-btn {
    margin-left: 70px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

.shopping-list {
    margin-top: 30px;
    list-style: none;
}

li {
    color: white;
} 